#opt{
    width:100px;
    padding:3px 5px;
    font-size:18px;
  }
  #mostra{
    width:280px;
    line-height:50px;
    font-size:20px;
    background:#fff;
    border:2px solid #f00;
    color:#00f;
    text-align:center;
    margin-top:40px;
    display:none;
    }

    .hide{
        display: none;
    }
    .tabela {
      overflow-y: scroll;
      margin: 0 -15% 0% 4%;
      height: 365px;
      text-align: center;
      width: 111%;
   
  }

    th {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background: #007bff;
      color:  white;
  }








    